body {
     width: 96vw;
    height: max-content;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
    animation: body 1s 1;
}

@keyframes body {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    opacity: 60%;
}

a, img {
    cursor: pointer;
}

header {
    width: 96%;
    height: 56px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    z-index: 1;
    position: sticky;
}

header h1 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    font-size: 24px;
}

.menu {
    display: none;
}

nav {
    width: 50%;
}

nav ul {   
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 40px;
}

li a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

li a:hover {
    opacity: 60%;
}

main {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

main img:hover {
    transform: scale(1.01);
}

.tile-container {
    width: 96%;
    height: max-content;
    margin: 40px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tile {
    width: 88%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.tile img {
    width: 32%;
    height: 100%;
    margin: 8px auto;
}

footer {
    width: 96%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .top {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

footer p a, footer p a:visited {
    color: #000;
}

footer p a:hover {
    text-decoration: none;
    opacity: 60%;
}

footer .icon-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

footer .icon-container .icon {
    width: 16px;
    height: 16px;
    margin: 0 12px;
}

footer .icon-container .icon:hover {
    opacity: 60%;
}

footer .credit {
    margin-top: 40px;
    font-size: 12px;
}

footer .credit a {
    text-decoration: underline;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .tile {
        width: 100%;
    }
}
@media screen and (max-width: 834px) {
    body {
        overflow-y: scroll;
    }

    header {
        width: 100%;
        height: 72px;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        top: 0;
        z-index: 1;
        position: sticky;
    }

    header h1 {
        font-size: 28px; 
        margin-left: 4px;
        font-family: "MedievalSharp";
        font-weight: 600;
        font-style: normal;
    }

    .menu {
        width: 24px;
        height: 20px;
        margin-right: 4px;
        display: flex;
        flex-flow: row;
        cursor: pointer;
        float: right;
    }

    #menuList {
        transition: all 0.25s;
    }

    nav ul {
        width: 100%;
        height: 96vh;
        margin: 0 auto;
        margin-right: -8px;
        flex-flow: column;
        top: 48px;
        right: 0;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-flow: column; 
        justify-content: center;
        scrollbar-width: none;
        background-color: #fff;
    }

    nav ul li {
        list-style: none;
        display: flex;
        flex-flow: column;
        margin-left: 20px;
    }
    
    nav ul li a {
        color: #000;
        text-decoration: none;
        margin-bottom: 16px;
        font-family: aktiv-grotesk, sans-serif;
        font-style: normal;
        font-weight: 200; 
        font-size: 36px;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    .tile-container {
        margin: 0 auto;
    }

    .tile {
        width: 100%;
    }

    .tile img {
        width: 48%;
    }
}

@media screen and (max-width: 486px) {
    header {
        height: 52px;
    }

    main {
        margin-top: 20px;
    }
    
    .tile, .tile img {
        width: 100%;
    }

    .tile img:hover {
        transform: scale(1);
    }
    
    footer {
        font-size: 12px;
    }
    
    footer .icon-container .icon {
        width: 16px;
        height: 16px;
        margin: 0;
        margin-left: 12px;
    }

    footer .credit {
        margin-top: 12px;
        font-size: 8px;
    }
}

@media screen and (max-width: 328px) {
    header {
        height: 48px;
    }
}

